#bbTimeList{
    background: var(--card-bg);
    color: var(--font-color);
    margin-top: 1rem;
    padding: 0.6rem 1rem 0.5rem 1rem;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-betweenï¼›
}